<!DOCTYPE html>
<html>
<head>
  <title>TestTimezone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= time_zone_select("user", 'time_zone', ActiveSupport::TimeZone.us_zones, default: @current_time_zone.name) %> |
  <%= current_time_zone.formatted_offset %> |
  <%= time_now_user_zone %>
</div>

<%= yield %>

</body>
</html>
